<!DOCTYPE html>
<html lang="en">
<head>
  <title>Chat Example</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <script type="text/javascript">
    function post() {
      console.log('post');
      const baseURL = "http://localhost:8080";
      const name = document.getElementById("name");

      // formデータを作る
      const body = encodeURI(`name=${name.value}`);

      fetch(`${baseURL}/rooms`, {
        method: "POST",
        headers: {
          "Content-Type": "application/x-www-form-urlencoded",
        },
        body: body,
      })
      .then(response => {
        if (!response.ok) {
          document.getElementById("status").innerHTML =
            `<div class='alert alert-warning'>
              ${response.status} : ${response.statusText}
             </div>`;
          return reponse.json();
        }
         window.location.href=baseURL;
      });
    };
  </script>
</head>
<body>
  <div id="status" role="alert"></div>
  <a href="/">room list</a>
  <form id="form" onsubmit="post();return false;">
    <input type="text" id="name" autofocus/>
    <input type="submit" value="submit">
  </form>
</body>
</html>
